@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.container {
    width: 100vw;
    height: 100vh;
}

.section-left {
    display: inline-block;
    width: 949px;
    margin-top: 381px;
    padding-left: 136px;
}

.section-right {
    width: 491px;
    height: 100vh;
    background-color: rgba(93, 93, 125, 0.16);
    display: inline-block;
    position: absolute;
}

img {
    position: relative;
    top: 215px;
    right: 130px;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
}

p {
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    margin: 15px 0px;
    width: 540px;
}

header {
    margin: 24px 0px 0px 57px;
}

.button-section-left {
    font-size: 24px;
    line-height: 35px;
    width: 269px;
    height: 62px;
    color: #FFFFFF;
    background-color: #9499EA;
    box-shadow: 0px 10px 24px 0px #9499EA19;
    border-radius: 30px;
    border: none;
}

.link-header {
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
    margin-right: 41px;
}

.link-header:hover {
    opacity: 40%;
}

@media screen and (max-width: 400px) {
    .section-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .section-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        width: auto;
        text-align: center;
        margin: 15px 40px;
    }

    .button-section-left {
        display: block;
        margin: 0 auto;
    }

    img {
        width: 90%;
        position: static;
    }

    header {
        display: none;
    }
}